<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- NAVBAR HEADER -->
    <div class="navbar-header">
      <button
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        (click)="openMenu()"
      >
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <!-- lOGO -->
      <a [routerLink]="['/']" class="navbar-brand">Speet</a>
    </div>

    <!-- MENU LINKS -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/']" class="smoothScroll">Home</a></li>
        <li><a [routerLink]="['/about']" class="smoothScroll">About</a></li>
        <li class="active">
          <a [routerLink]="['/shop']" class="smoothScroll">Shop</a>
        </li>
        <li>
          <a [routerLink]="['/contact-us']" class="smoothScroll active"
            >Contact Us</a
          >
        </li>
        <li><a [routerLink]="['/help']" class="smoothScroll">help</a></li>
        <li><a [routerLink]="['/login']" class="smoothScroll">Sign IN</a></li>
        <li>
          <a [routerLink]="['/register']" class="smoothScroll">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<section class="video-step">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-12 col-sm-12 col-md-12 text-center">
        <div class="page-title">
          <h1>Shop With Us</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cms-main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="../../assets/images/product/product-1.jpg"
            alt="product"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-4 col-xs-12">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="../../assets/images/product/product-1.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-4 col-xs-12">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="../../assets/images/product/product-1.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
