<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- NAVBAR HEADER -->
    <div class="navbar-header">
      <button
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        (click)="openMenu()"
      >
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <!-- lOGO -->
      <a [routerLink]="['/']" class="navbar-brand">Speet</a>
    </div>

    <!-- MENU LINKS -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/']" class="smoothScroll">Home</a></li>
        <li class="active">
          <a [routerLink]="['/about']" class="smoothScroll">About</a>
        </li>
        <li><a [routerLink]="['/shop']" class="smoothScroll">Shop</a></li>
        <li>
          <a [routerLink]="['/contact-us']" class="smoothScroll">Contact Us</a>
        </li>
        <li><a [routerLink]="['/help']" class="smoothScroll">help</a></li>
        <li><a [routerLink]="['/login']" class="smoothScroll">Sign IN</a></li>
        <li>
          <a [routerLink]="['/register']" class="smoothScroll">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<section class="video-step">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-12 col-sm-12 col-md-12 text-center">
        <div class="page-title">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cms-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </h3>
      </div>
    </div>
    <div class="row team-info">
      <div class="col-md-3">
        <img
          src="../../assets/images/team/team2.jpg"
          alt="John"
          style="width:100%"
        />
        <h3><b>John Doe</b></h3>
        <p class="w3-opacity">(CEO & Founder)</p>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales
          pellentesque elementum.
        </p>
        <!--<p>
                    <button class="mat-raised-button btn-lg">Contact</button>
                </p>-->
      </div>
      <div class="col-md-3">
        <img
          src="../../assets/images/team/team1.jpg"
          alt="Jane"
          style="width:100%"
        />
        <h3><b>Jane Doe</b></h3>
        <p class="w3-opacity">(Architect)</p>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales
          pellentesque elementum.
        </p>
        <!--<p>
                    <button class="mat-raised-button btn-lg">Contact</button>
                </p>-->
      </div>
      <div class="col-md-3">
        <img
          src="../../assets/images/team/team3.jpg"
          alt="Mike"
          style="width:100%"
        />
        <h3><b>Mike Ross</b></h3>
        <p class="w3-opacity">(Architect)</p>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales
          pellentesque elementum.
        </p>
        <!--<p>
                    <button class="mat-raised-button btn-lg">Contact</button>
                </p>-->
      </div>
      <div class="col-md-3">
        <img
          src="../../assets/images/team/team4.jpg"
          alt="Dan"
          style="width:100%"
        />
        <h3><b>Dan Star</b></h3>
        <p class="w3-opacity">(Architect)</p>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales
          pellentesque elementum.
        </p>
        <!--<p>
                    <button class="mat-raised-button btn-lg">Contact</button>
                </p>-->
      </div>
    </div>
  </div>
</section>
